requests==2.32.3
openai==1.58.1
google-generativeai==0.8.3
pillow==11.0.0
anthropic==0.42.0
langchain==0.3.13
langchain-openai==0.2.14
langchain-anthropic==0.3.1
langchain-google-genai==2.0.7
langchain-community==0.3.13
langchain-chroma>=0.1.2
pypdf==5.1.0
chromadb==0.5.23
langgraph==0.2.60
streamlit==1.41.1
pyaskit>=1.4.6
chardet